<%= turbo_frame_tag 'UC-'+@user.id.to_s+'-'+@city.id.to_s do %>
  <div class="row bg-secondary bg-gradient bg-opacity-10 border-bottom">
    <div class="col-4"><h6><%= @city.name_city %></h6></div>
    <div class="col-2"></div>
    <div class="col-2"><%= link_to 'Oceny', grade_user_path(@user.id, @city.id), data:{turbo_frame: 'UC-'+@user.id.to_s+'-'+@city.id.to_s}, class: "btn btn-sm btn-primary" %> </div>
  </div>
  <div class="row">
  </div>
<% end %>

