<div class="container">
  <h1>Nowy kraj</h1>

  <%= render "form", country: @country %>

  <div class="mt-3">
    <%= link_to "Powrót do krajów", countries_path, class: "btn btn-secondary" %>
  </div>
</div>
