<nav class="navbar navbar-expand-lg navbar-light bg-light mx-auto">
  <div class="container">
    <div class="navbar-nav">
      <%= link_to "Kraje", countries_path, class: "nav-link btn btn-outline-primary me-2 #{'active' if current_page?(countries_path)}", style: "#{'background-color: rgba(0, 123, 255, 0.2);' if current_page?(countries_path)}" %>
      <%= link_to "Miasta", cities_path, class: "nav-link btn btn-outline-primary me-2 #{'active' if current_page?(cities_path)}", style: "#{'background-color: rgba(0, 123, 255, 0.2);' if current_page?(cities_path)}" %>
      <%= link_to "Atrakcje", attractions_path, class: "nav-link btn btn-outline-primary me-2 #{'active' if current_page?(attractions_path)}", style: "#{'background-color: rgba(0, 123, 255, 0.2);' if current_page?(attractions_path)}" %>
      <%= link_to "Użytkownicy", users_path, class: "nav-link btn btn-outline-primary me-2 #{'active' if current_page?(users_path)}", style: "#{'background-color: rgba(0, 123, 255, 0.2);' if current_page?(users_path)}" %>
    </div>
  </div>
</nav>
